@font-face {
    font-family: 'Russo_One';
    src: url('Russo_One.eot');
    src: url('Russo_One.eot') format('embedded-opentype'),
    url('Russo_One.woff2') format('woff2'),
    url('Russo_One.woff') format('woff'),
    url('Russo_One.ttf') format('truetype'),
    url('Russo_One.svg#Russo_One') format('svg');
		 font-weight:normal;
		 font-style:normal;
}
@font-face {
    font-family: 'segoeui';
    src: url('segoeui.eot');
    src: url('segoeui.eot') format('embedded-opentype'),
    url('segoeui.woff2') format('woff2'),
    url('segoeui.woff') format('woff'),
    url('segoeui.ttf') format('truetype'),
    url('segoeui.svg#segoeui') format('svg');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family: 'segoeuib';
    src: url('segoeuib.eot');
    src: url('segoeuib.eot') format('embedded-opentype'),
    url('segoeuib.woff2') format('woff2'),
    url('segoeuib.woff') format('woff'),
    url('segoeuib.ttf') format('truetype'),
    url('segoeuib.svg#segoeuib') format('svg');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family: 'segoeuil';
    src: url('segoeuil.eot');
    src: url('segoeuil.eot') format('embedded-opentype'),
    url('segoeuil.woff2') format('woff2'),
    url('segoeuil.woff') format('woff'),
    url('segoeuil.ttf') format('truetype'),
    url('segoeuil.svg#segoeuib') format('svg');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family: 'segoeuisb';
    src: url('seguisb.eot');
    src: url('seguisb.eot') format('embedded-opentype'),
    url('seguisb.woff2') format('woff2'),
    url('seguisb.woff') format('woff'),
    url('seguisb.ttf') format('truetype'),
    url('seguisb.svg#segoeuisb') format('svg');
    font-weight:normal;
    font-style:normal;
}